<style>
body{
	font-family:verdana;
	color:#444;
}
#option1,#option2,#option3,#option4{
	display:none;
	margin-bottom: 10px;
}
.tatar{
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    background: #3C8FB7;
    padding: 4px 8px;
	border: 0;
	cursor: pointer;
}
</style>